<footer>
  <p>Copyright © 2017 Living Media India Limited. For reprint rights: Syndications Today.</p>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDLhfu20GLx_PytyLQMKcpqdJHIfxGIQyA",
    authDomain: "mobiletak-8bfa4.firebaseapp.com",
    databaseURL: "https://mobiletak-8bfa4.firebaseio.com",
    projectId: "mobiletak-8bfa4",
    storageBucket: "mobiletak-8bfa4.appspot.com",
    messagingSenderId: "606010621446"
  };
  firebase.initializeApp(config);
</script>
</footer>