<div class="pageTitle">
    <h1>Life Tak</h1>
</div>

<div class="slide">
        <iframe width="597" height="300" src="https://www.youtube.com/embed/S55kcQqm1LM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>


<div class="homeVideo">
<ul>
        <li *ngFor='let lifeTak of life'>
                <div class="dateArea">
                    <ul>
                        <li>{{lifeTak.time}}</li>
                        <li>{{lifeTak.date}}</li>
                    </ul>
                </div>
    
                <div class="videoArea">
                    <div class="videoPic">
                        <img src="{{lifeTak.videoSrc}}" alt="">
                    </div>
                    <div class="videoInfo">
                        <h2>{{lifeTak.videoTitile}}</h2>
                        <p>{{lifeTak.videoDetails}}</p>
                    </div>
                </div>
            </li>
            <!-- end list -->
            
</ul>
</div>