<div class="pageTitle">
        <h1>Food Tak</h1>
    </div>

<div class="slide">
        <iframe width="597" height="300" src="https://www.youtube.com/embed/yUR2hKWMUYs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
   
</div>


<div class="homeVideo">
<ul>
        <li *ngFor='let foodTak of food'>
                <div class="dateArea">
                    <ul>
                        <li>{{foodTak.time}}</li>
                        <li>{{foodTak.date}}</li>
                    </ul>
                </div>
    
                <div class="videoArea">
                    <div class="videoPic">
                        <img src="{{foodTak.videoSrc}}" alt="">
                    </div>
                    <div class="videoInfo">
                        <h2>{{foodTak.videoTitile}}</h2>
                        <p>{{foodTak.videoDetails}}</p>
                    </div>
                </div>
            </li>
            <!-- end list -->
            
</ul>
</div>