<div class="pageTitle">
        <h1>News Tak</h1>
    </div>


<div class="slide">
        <iframe width="597" height="300" src="https://www.youtube.com/embed/tDz9-ghDHAo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    

<div class="homeVideo">
    <ul>
            <li *ngFor='let intro of home'>
                    <div class="dateArea">
                        <ul>
                            <li>{{intro.time}}</li>
                            <li>{{intro.date}}</li>
                        </ul>
                    </div>
        
                    <div class="videoArea">
                        <div class="videoPic">
                            <img src="{{intro.videoSrc}}" alt="">
                        </div>
                        <div class="videoInfo">
                            <h2>{{intro.videoTitile}}</h2>
                            <p>{{intro.videoDetails}}</p>
                        </div>
                    </div>
                </li>
                <!-- end list -->
                
    </ul>
</div>